<div class="row gf-list">
    <div class="col-md-2 offset-md-1">
        {{include "index/user/user_menu.html" .}}
    </div>
    <div class="col-md-8">
        <div class="card gf-person">
            <div class="card-header">
                <span class="iconfont">&#xe717;</span> 我的问答
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {{if .Data.Stats.ask}}
                        {{include "index/user/user_content_list.html" .}}
                    {{else}}
                    <li class="list-group-item gf-list-item">
                        <a href="/content/create?type=ask" class="btn btn-primary btn-block">还没有问答，赶紧来发布吧</a>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>

</div>
<script>
    $("#user-ask").addClass("active")
</script>