<div class="card gf-card">
    <div class="card-header">GF社区</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1114119" target="_blank">
            <span class="icon iconfont">&#xe61c;</span> 官网文档</a></li>
        <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1114133" target="_blank">
            <span class="icon iconfont">&#xe666;</span> 加入我们</a></li>
        <li class="list-group-item"><a href="https://itician.org/pages/viewpage.action?pageId=1115633" target="_blank">
            <span class="icon iconfont">&#xe647;</span> 赞助我们</a></li>
    </ul>
</div>

<div class="card gf-card sponsor-link">
    <div class="card-header">社区赞助商</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="https://www.jetbrains.com/?from=GoFrame">
            <img style="width: 120px;"
                 src="https://goframe.org/download/attachments/1114119/jetbrains.png?api=v2"
                 ></a>
            <a href="https://www.atlassian.com/?from=GoFrame">
                <img style="width: 120px;"
                 src="https://goframe.org/download/attachments/1114119/atlassian.jpg?api=v2"
                >
            </a>

        </li>
    </ul>
</div>